version: '3.9'

services:
  n8n:
    container_name: n8n
    image: n8nio/n8n:latest
    restart: unless-stopped  

    ports:
      - "80:5678"

    volumes:
      - "C:/Users/Dell/Desktop/n8n:/home/node/.n8n"

    environment:
      - N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
      - N8N_EDITOR_BASE_URL=${WEBHOOK_URL}
      - WEBHOOK_URL=${WEBHOOK_URL}
      - N8N_DEFAULT_BINARY_DATA_MODE=filesystem
      - NODE_ENV=production
      - N8N_RELEASE_TYPE=stable
      - GENERIC_TIMEZONE=${TIMEZONE}
      - TZ=${TIMEZONE}

    extra_hosts:
      - "host.docker.internal:host-gateway"  

    entrypoint:
      - tini
      - "--"
      - /docker-entrypoint.sh